<div>
    <br>
    <br>
    <h5 mat-dialog-title>{{'Profile information' | uppercase}}</h5>
    <hr>
    <br>
</div>

<div>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab class="col-md-4" label="PERSONAL INFORMATION">
      <app-personal-detail></app-personal-detail>
    </mat-tab>
    <mat-tab class="col-md-4" label="SERVICE INFORMATION">
      <app-service-detail></app-service-detail>
    </mat-tab>
    <mat-tab class="col-md-4" label="DEPENDENT INFORMATION ">
      <app-dependant-detail></app-dependant-detail>
    </mat-tab>
  </mat-tab-group>
</div>