.next-button{
    width: 370px;
    height: 30px;
    color: white;
    background-color: rgba(51, 144, 250, 0.808);
    -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    border-radius: 10px;
    border: none;
    margin-left: 106px;
}

.label1{
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}

.ref{
  text-align: center;
  font-size: 15px;
}

.ref1{
  text-align: center;
  font-size: 15px;
  margin-left:196px;
}

.reason_box{
    width: 300px;
    height: 110px;
    margin-left: 142px;
}