<div class="container" >
  <div class="row">
    <label>
      <h2>Receive Application</h2>
    </label>
  </div><br />
  <div class="row justify-content-center">
    <div class="col-md-4">W&OP Number</div>
    <div class="col-md-4">
      <label>{{data.pensioner.wOPNumber}}</label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">NIC Number</div>
    <div class="col-md-4">
      <label>{{data.pensioner.nic}}</label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">Retired Date</div>
    <div class="col-md-4">
      <label>{{data.pensioner.dateOfRetired}}</label>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">Mobile Number</div>
    <div class="col-md-4">
      <label>{{data.pensioner.mobileNumber}}</label>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-md-6">
      <button class="receive-button" mat-raised-button color="primary" (click)="receivePension()">Receive</button>
      <button (click)="close()" mat-raised-button color="warn">Close</button>
    </div>
  </div>
</div>
