<div class="container">
  <div class="row" (keydown)="onEnter($event)">
      <br/>
    <label>
      <h2>Quick Access</h2>
    </label>
  </div>
  <div class="row content justify-content-center  align-items-center">
    <div class="col-md-2">
      <label>Reference Number : </label>
    </div>
    <div class="col-md-4">
      <input type="text" #input name="referenceNumber" autofocus="autofocus" (keyup.enter)="onEnter($event)" [(ngModel)]="refNumber"/>
    </div>
  </div>
</div>