<div class="container">
  <div class="row">
    <label>
      <h2>View Gratuities</h2>
    </label>
  </div><br />

  <div class="row justify-content-end">
    <div class="col-md-2 penNo">
      <label>Pension Number</label>
    </div>
    <div class="col-md-3 penNo">
      <input type="text" name="refNo">
    </div>
  </div><br />

  <div class="container" *ngIf="spinner.listViewSpinner==true">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 col-md-2 col-sm-2">
      </div>
      <div class="col-md-auto col-sm-auto align-self-center">
        <mat-spinner></mat-spinner >
      </div>
      <div class="col col-lg-2 col-md-2 col-sm-2">
      </div>
    </div>
  </div>

  <table *ngIf="spinner.listViewSpinner==false">
    <div class="table-body">
      <thead style="width: 100%">
        <th>Pensioner Number</th>
        <!-- <th>Name</th>
        <th>NIC</th> -->
        <th>Account Number</th>
        <th>Gratuity Amount</th>
        <th *ngIf="buttonConfig.selectField==true">Select</th>
        <th *ngIf="buttonConfig.bankBranchField==true">Branch</th>
        <th *ngIf="buttonConfig.gratuityAccept==true">Actions</th>
      </thead>

      <tbody style="width: 100%">
        <tr *ngFor="let gratuities of pendingGratuityList">
          <td>{{gratuities.pensionerNumber}}</td>
          <!-- <td>{{gratuities.name}}</td>
          <td>{{gratuities.nic}}</td> -->
          <td>{{gratuities.accountNumber}}</td>
          <td>{{gratuities.gratuityAmount.toFixed(2)}}</td>
          <td *ngIf="buttonConfig.bankBranchField==true">{{gratuities.gratuityAmount.toFixed(2)}}</td>
          <td *ngIf="buttonConfig.selectField==true">
            <mat-checkbox [(ngModel)]="gratuities.checked" (change)="getCheckboxes()"></mat-checkbox>
          </td>
          <td *ngIf="buttonConfig.gratuityAccept==true"><button (click)="gratuityAcceptPopup(gratuities.gratuityId)" mat-raised-button color="primary">Accept</button></td>
        </tr>
      </tbody>
    </div>

  </table><br />

  <div class="row justify-content-end">
    <button class="col-md-2 view-details" *ngIf="buttonConfig.printReport==true" mat-raised-button color="primary">Print Report</button>
    <button class="col-md-2 print" *ngIf="buttonConfig.bulkAccept==true"  mat-raised-button color="primary" (click)="acceptGratuities()">Accept</button>
  </div>
</div>