h2{
    font-family: fantasy;
    color:#3f51b5;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  button{
    width: 100%;
  }

  .table-body{
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
  }
  
  th, td {
    padding: 5px;
    width: 40%;
  }

  .penNo{
      text-align: end;
  }

  .view-details{
    margin-right: 5px;
}

.justify-content-md-center{
  height: 400px;
}
  
