<h5 style="min-width: 500px;" mat-dialog-title>{{'Add spouse' | uppercase}}</h5>
<div class="col-12" [formGroup]="form">
  <div style="padding-top: 20px">
      <div class="form-group row" >
          <label class="col-sm-3 col-form-label col-form-label-sm">Id
          </label>
          <div class="col-sm-9">
            <input formControlName="id" type="text" class="form-control form-control-sm" placeholder="Dependant id" readonly> 
          </div>
        </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Full Name
      </label>
      <div class="col-sm-9">
        <input formControlName="fullName" type="text" class="form-control form-control-sm" placeholder="Name of the spouse">
        <div *ngIf="form.get('fullName').errors && (form.get('fullName').dirty || form.get('fullName').touched)">
          <p *ngIf="form.get('fullName').errors.required" class="text-danger">{{validationMessages.required('Full Name')}}</p>
          <p *ngIf="!form.get('fullName').errors.required && form.get('fullName').errors.fullName" class="text-danger">{{validationMessages.pattern('Full Name')}}</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Relation
      </label>
      <div class="col-sm-9">
        <select formControlName="relation" class="form-control form-control-sm" placeholder="Relation"> 
          <option  value=1>Husband</option>
          <option  value=0>Wife</option> 
        </select>
        <div *ngIf="form.get('relation').errors && (form.get('relation').dirty || form.get('relation').touched)">
          <p *ngIf="form.get('relation').errors.required" class="text-danger">{{validationMessages.required('Relation')}}</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Date of birth
      </label>
      <div class="col-sm-9">
        <input formControlName="dob" type="date" class="form-control" placeholder="Starting date"> 
        <div *ngIf="form.get('dob').errors && (form.get('dob').dirty || form.get('dob').touched)">
          <p *ngIf="form.get('dob').errors.required" class="text-danger">{{validationMessages.required('Date of
            birth')}}</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">NIC
      </label>
      <div class="col-sm-9">
        <input formControlName="nic" type="text" class="form-control form-control-sm" placeholder="XXXXXXXXXV">
        <div *ngIf="form.get('nic').errors && (form.get('nic').dirty || form.get('nic').touched )">
          <p *ngIf="form.get('nic').errors.nic" class="text-danger">{{validationMessages.pattern('NIC')}}</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Birth Certificate Number
      </label>
      <div class="col-sm-9">
        <input formControlName="birth_Cert_Number" type="text" class="form-control form-control-sm" placeholder="">
        <div *ngIf="form.get('birth_Cert_Number').errors && (form.get('birth_Cert_Number').dirty || form.get('birth_Cert_Number').touched)">
          <p *ngIf="form.get('birth_Cert_Number').errors.required" class="text-danger">{{validationMessages.required('Birth
            Certificate Number')}}</p>
          <p *ngIf="form.get('birth_Cert_Number').errors.birth_Cert_Number" class="text-danger">{{validationMessages.pattern('birth
            Certificate Number')}}</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Marriage Certificate Number
      </label>
      <div class="col-sm-9">
        <input formControlName="marriage_Certificate_NO" type="text" class="form-control form-control-sm" placeholder="">
        <div *ngIf="form.get('marriage_Certificate_NO').errors && (form.get('marriage_Certificate_NO').dirty || form.get('marriage_Certificate_NO').touched)">
          <p *ngIf="form.get('marriage_Certificate_NO').errors.required" class="text-danger">{{validationMessages.required('Marriage
            Certificate Number')}}</p>
          <p *ngIf="form.get('marriage_Certificate_NO').errors.numberWithName" class="text-danger">{{validationMessages.pattern('marriage
            Certificate Number')}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="float-right">
  <div class="btn-group" role="group" aria-label="Third group">
    <button style="min-width: 100px" class="float-right btn btn-sm btn-danger" (click)="close()">CANCEL</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button style="min-width: 100px" class="float-right btn btn-sm btn-primary" [disabled]="!form.valid" (click)="saveAndClose()">ADD</button>
  </div>
</div>