.name,.refNumber{
    width: 100%;
}
h2{
    font-family: fantasy;
    color:#3f51b5;
}

.table{
    margin-top: 50px;
}

.button-section{
    height:100px;
    margin-top: 100px;
}

.mat-raised-button mat-primary{
    width:104px;
}

button{
    margin-top: 10px;
}

.flow{
    margin-left: 5px;
}

    
.table-body{
    height: 250px;
    width: 100%;
    overflow-y: scroll;
    cursor: pointer;
}

.t1{
    width:100px;
   
}

.table-reason tr.active td{
    background-color:dodgerblue !important;
    color: white;
}
        
.table-reasons tr.active td{
    background-color:dodgerblue !important;
    color: white;
}
        
    
    