<div class="container">
  <div class="row">
    <label>
      <h2>Rejection Panel</h2>
    </label>
  </div><br />
  <div class="row justify-content-center">
    <div class="col-md-2 col-sm-2">
      <label>
        Reference Number
      </label>
    </div>
    <div class="col-md-2 col-sm-2">
      <label>{{refNumber}}</label>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-1 col-sm-1">
      <label>
        Name
      </label>
    </div>
    <div class="col-md-4 col-sm-4">
      <label>{{dataConfig.pd3BasicInformation.name}}</label>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-5 table1">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
      <table class="table table-bordered table-hover table-reason">
        <input type="text" class="col-md-12" placeholder="Search reason.."  (keyup)="searchReason()" [(ngModel)]="inputValues.message"/><br/>
        <div class="table-body">
          <tr>
            <th class="trIndex">Index</th>
            <th class="trReason">Reason</th>
          </tr>
          <tbody class="t1" id="t1">
            <tr *ngFor="let list of reasonList; let i=index" (click)="setClickedRow(i);"
              [class.active]="i == selectedRow1" class="">
              <td>{{list.id}}</td>
              <td>{{list.message}}</td>
            </tr>
          </tbody>
        </div>
      </table>

    </div>
    <div class="col-md-2 button-section justify-content-center">
      <button class="col-md-10" mat-raised-button color="primary" (click)="addReason()">Add Reason</button><br />
      <button class="col-md-10" mat-raised-button color="warn" (click)="removeReason()">Remove Reason</button>
    </div>
    <div class="col-md-5 table2">
      <table class="table table-bordered table-hover table-reasons">
        <thead>
          <tr>
            <th>Reasons</th>
          </tr>
        </thead>
        <tbody class="t1 table-body" id="t1">
          <tr *ngFor="let reasons of reasonTab; let i=index" (click)="deleteClickedRow(i)"
            [class.active]="i == selectedRow2">
            <td>{{reasons}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div><br />

  <div class="row">
    <div class="col-md-5">
      <label>
        Custom Reason
      </label>
      <textarea name="customReason" [(ngModel)]="customReason" class="form-control" rows="5" cols="20" id="comment"
        placeholder="Type custom reason here.."></textarea><br />
      <button class="col-md-3 flow" mat-raised-button color="primary" (click)="addCustomReason()">Add Reason</button>
    </div>

  </div><br />
  <div class="row justify-content-end">
    <button class="col-md-2 flow" mat-raised-button color="warn" (click)="clear()"> Clear</button>
    <button class="col-md-2 flow" (click)="confirmReason()" mat-raised-button color="primary">Save & Confirm
      reject</button>
  </div>
</div>