<div class="container">
  <div class="row">
    <label>
      <h2>Search Application (PD3)</h2>
    </label>
  </div><br />
  <form>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <label>Reference Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="refNo" [(ngModel)]="referenceNo">
      </div>
      <div class="col-md-2">
        <label>Pension Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="pensionNo"  [(ngModel)]="penNo">
      </div>
    </div><br />

    <div class="row justify-content-center">
      <div class="col-md-2">
        <label>NIC Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="nic"  [(ngModel)]="nic">
      </div>
      <div class="col-md-2">
        <label>Name</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="name"  [(ngModel)]="name">
      </div>
    </div><br />
    <div class="row justify-content-end">
      <div class="col-md-4">
          <button class="col-md-3" mat-raised-button color="primary" (click)="searchPensioner()">Search</button>
          <button class="col-md-3 refresh" mat-raised-button color="primary" (click)="refresh()">Refresh</button>
      </div>
        
    </div>
    <div class="row"  *ngIf="buttonConfig.select==true">
      <div class="col-md-2"><label>Enter No of records to be select</label></div>
      <div class="col-md-2"><input type="text" name="records" [(ngModel)]="noOfRecords"></div>
    </div>
    <div class="row"  *ngIf="buttonConfig.select==true">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="row justify-content-start">
          <button class="col-md-3 select" mat-raised-button color="primary" (click)="clearCheck()">Clear</button>
          <button class="col-md-3 select" mat-raised-button color="primary" (click)="customCheck()">Select</button>
        </div>
      </div>
    </div>
  </form>
  <br />

  <div class="table">
    <div class="mat-elevation-z8">
      <div class="container" *ngIf="listViewSpinner.listViewSpinner==true">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2 col-md-2 col-sm-2">
          </div>
          <div class="col-md-auto col-sm-auto align-self-center">
            <mat-spinner></mat-spinner>
          </div>
          <div class="col col-lg-2 col-md-2 col-sm-2">
          </div>
        </div>
      </div>
      <div class="container" *ngIf="noRecordsState==true">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2 col-md-2 col-sm-2">
          </div>
          <div class="col-md-auto col-sm-state auto align-self-center">
            No pensioners found for this state
          </div>
          <div class="col col-lg-2 col-md-2 col-sm-2">
          </div>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource"
        *ngIf="listViewSpinner.listViewSpinner==false && pd3DataConfig.pd3ListView.length!=0">
        <ng-container matColumnDef="refNumber">
          <th mat-header-cell *matHeaderCellDef> Ref No</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="nic">
          <th mat-header-cell *matHeaderCellDef> NIC Number </th>
          <td mat-cell *matCellDef="let element"> {{element.nic}} </td>
        </ng-container>


        <ng-container matColumnDef="retiredDate">
          <th mat-header-cell *matHeaderCellDef> Retired Date </th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfRetired}} </td>
        </ng-container>


        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef> Designation </th>
          <td mat-cell *matCellDef="let element"> {{element.designation}}</td>
        </ng-container>

        <ng-container matColumnDef="wopNumber">
          <th mat-header-cell *matHeaderCellDef> W&OP Number </th>
          <td mat-cell *matCellDef="let element"> {{element.wOPNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="receive" *ngIf="buttonConfig.receive==true">
          <th mat-header-cell *matHeaderCellDef> More </th>
          <td mat-cell *matCellDef="let element"><button (click)="getPD3ViewPensions(element.id)" mat-raised-button
              color="primary">More</button></td>
        </ng-container>

        <ng-container matColumnDef="more" *ngIf="buttonConfig.more==true">
          <th mat-header-cell *matHeaderCellDef> More </th>
          <td mat-cell *matCellDef="let element"><button (click)="getPD3ViewPensions(element.id)" mat-raised-button
              color="primary">More</button></td>
        </ng-container>
        <ng-container matColumnDef="select" *ngIf="buttonConfig.select==true">
          <th mat-header-cell *matHeaderCellDef> Select </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.checked" color="primary" (change)="getCheckboxes()"></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div> <br />

  <div class="row justify-content-end">
    <button class="col-md-2 view-details" *ngIf="buttonConfig.viewDetails==true" mat-raised-button color="primary">View
      Details</button>
    <button class="col-md-2 print" mat-raised-button color="primary" *ngIf="buttonConfig.printInterviewLetter==true"
      (click)="printLetterPopup()">Print</button>
  </div>
</div>