
h2{
    font-family: fantasy;
    color:#3f51b5;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  i{
    cursor: pointer;
  }