<div class="container">
  <br /> 
    <div class="row">
      <div class="col-md-4">
        <label>Marital Status</label>
      </div>
      <div class="col-md-6">
        <label >{{ maritalStatus |maritalStatusT}}</label>
      </div>
    </div><br /> 

  <div>
    <h5>SPOUSE INFORMATION</h5>
    <table *ngIf="spouseModel.length > 0" class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">NAME</th>
          <th scope="col">RELATION</th>
          <th scope="col">DATE OF BIRTH</th>
          <th scope="col">NIC NO</th>
          <th scope="col">BIRTH CERT: NO</th>
          <th scope="col">MARRIAGE CERT: NO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of spouseModel ; let rowNo = index">
          <td>{{ rowNo +1}}</td>
          <td>{{ model.fullName }}</td>
          <td>{{ model.relation  |SposeRelationT }}</td>
          <td>{{ model.dob.split('T')[0] }}</td>
          <td>{{ model.nic }}</td>
          <td>{{ model.birth_Cert_Number }}</td>
          <td>{{ model.marriage_Certificate_NO }}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>

  <div>
    <h5>DEPENDENTS INFORMATION</h5>
    <table *ngIf="dependantModel.length > 0" class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">NAME</th>
          <th scope="col">RELATION</th>
          <th scope="col">DATE OF BIRTH</th>
          <th scope="col">NIC NO</th>
          <th scope="col">DIFFERENTLY ABLED</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of dependantModel ;let rowNo = index">
          <td>{{ rowNo +1}}</td>
          <td>{{ model.fullName }}</td>
          <td>{{ model.relation | DependantRelationT}}</td>
          <td>{{ model.dob.split('T')[0] }}</td>
          <td>{{ model.nic }}</td>
          <td>{{ model.differentlyAabled |yesNoT}}</td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>