table {
    border-collapse: collapse;
    width: 100%;
  }
  

  td{
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
  }

  th{
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
  }

  button{
      width: 100%;
  }