<div class="container">
  <br />
  <table>
    <tr>
      <th>Full name</th>
      <th>Address</th>
      <th>NIC Number</th>
      <th>Marital Status</th>
      <th>Relation</th>
      <th>More</th>
    </tr>
    <tr *ngFor="let dependents of dataConfig.pd3DependentArray">
      <td>{{dependents.name}}</td>
      <td>{{dependents.address}}</td>
      <td>{{dependents.nic}}</td>
      <td>{{dependents.maritalStatus}}</td>
      <td>{{dependents.relation}}</td>
      <td><button mat-raised-button color="primary" (click)="dependentInformationPopup(dependents.id)">More</button></td>
    </tr>
  </table>
</div>