<form>

  <div class="container content">
    <div class="row">
      <div class="col-md-1 offset-md-11"><button (click)="close()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button></div>
    </div>
    <div class="form-group row">
      <label class="col-md-6 col-form-label" class="ref">Provide a valid REASON for Re-revision before proceeding !</label>
      &nbsp;&nbsp;&nbsp;
      <label for="">
        <textarea class="reason_box" rows="3" cols="30" name="description" [(ngModel)]="reason">
         </textarea>
      </label>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <button color="primary" class="next-button" (click)="submitReasonRe()">SUBMIT REASON</button>
      </div>
    </div>
  </div>
</form>