<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row">
    <label>
      <h3>Gratuity & Bank Details</h3>
    </label>
  </div><br />

  <div class="row justify-content-center ">
    <div class="col-md-6 left">
      <div class="row justify-content-center">
        <label><b>For gratuity</b></label>
      </div><br />
      <div class="row">
        <div class="col-md-7">
          <label>Account number</label>
        </div>
        <div class="col-md-5">
          <label>{{dataConfig.pd3GratuityBankDetails.accountNumber}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-7">
          <label>Gratuity amount</label>
        </div>
        <div class="col-md-5">
          <label>{{dataConfig.pd3GratuityBankDetails.gratuityAmount}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-7">
          <label>Goverment deduction</label>
        </div>
        <div class="col-md-5">
          <label>{{dataConfig.pd3GratuityBankDetails.govDeduction.toFixed(2)}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-7">
          <label>Net gratuity amount</label>
        </div>
        <div class="col-md-5">
          <label>{{dataConfig.pd3GratuityBankDetails.netGratuityAmount}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-7">
          <label>Bank</label>
        </div>
        <div class="col-md-5">{{gratuityBank.bank.name}}</div>
      </div><br />

      <div class="row">
        <div class="col-md-7">
          <label>Branch</label>
        </div>
        <div class="col-md-5">{{gratuityBank.name}}</div>
      </div><br />

      <div class="row">
        <div class="col-md-7">
          <label>Gratuity difference</label>
        </div>
        <div class="col-md-5">0.00</div>
      </div><br />

    </div>
    <div class="col-md-6 right">
      <div class="row justify-content-center">
        <label><b>For pension</b></label>
      </div><br/>
      <div class="row">
        <div class="col-md-6">
          <label>Bank</label>
        </div>
        <div class="col-md-6">{{pensionBank.bank.name}}</div>
      </div><br />

      <div class="row">
        <div class="col-md-6">
          <label>Branch</label>
        </div>
        <div class="col-md-6">{{pensionBank.name}}</div>
      </div><br />

      <div class="row">
        <div class="col-md-6">
          <label>Account number</label>
        </div>
        <div class="col-md-6">{{data.accountNo}}</div>
      </div><br />

    </div>
  </div>
</div>