<div class="row page-header justify-content-center">
  <h3>Service Gratuity Information (සේවා පාරිතෝෂික තොරතුරු)</h3>
</div>
<hr>
<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <app-personal-information></app-personal-information>
      <div class="row justify-content-end">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Service Information</ng-template>
      <app-service-information></app-service-information>
      <div class="row justify-content-end">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="forthFormGroup">
    <form [formGroup]="forthFormGroup">
      <ng-template matStepLabel>Dependent Information</ng-template>
      <app-dependent-information></app-dependent-information>
      <div class="row justify-content-end">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Bank Information</ng-template>
      <app-bank-information></app-bank-information>
      <div class="row justify-content-end">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Pension Information</ng-template>
      <app-pension-information></app-pension-information>
      <div class="row justify-content-end">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Pension Details</ng-template>
      <app-pension-information></app-pension-information>
      <div class="row justify-content-end">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button (click)="submitBtn()" class="btn btn-success" color="primary" matStepperNext>Submit</button>
      </div>
    </form>
  </mat-step>

  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div class="row justify-content-end">
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>