<div class="container">
    <br />
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
            <label>W&OP Number</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Wnopmodel">{{ Wnopmodel.old_wnop_number }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Institute</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Servicemodel">{{ Servicemodel.institute  |instituteT | async }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Designation</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Servicemodel">{{ Servicemodel.designation |designationT | async}}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Service</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Servicemodel">{{ Servicemodel.service |serviceT | async}}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Salary Code</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Servicemodel">{{ Servicemodel.salary_code |salaryCodeT | async}}</label>
          </div>
        </div><br /> 

        <div class="row">
          <div class="col-md-4">
            <label>Fist Appointment Date</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Servicemodel">{{ Servicemodel.fist_appointment_date }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Last Appointment Date</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Servicemodel">{{ Servicemodel.appointment_date }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Service Grade</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="Servicemodel">{{ Servicemodel.service_grade |gradeT | async}}</label>
          </div>
        </div><br />     

      </div>      
    </div>
  </div>