<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/penlogo.png" width="150px" class="user-avatar" />
            <h1>PMS 1.0.0</h1>
            <form role="form" (keydown)="keyDownFunction($event)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="auth.authentication.username" name="username" class="form-control input-underline input-lg" id="username" placeholder="{{ 'Username' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="auth.authentication.password" name="password" class="form-control input-underline input-lg" id="password" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="authenticate()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <!-- <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a> -->
            </form>
        </div>
    </div>
</div>
