/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// regular style toast 
@import '~ngx-toastr/toastr.css';
// @import '~ngx-toastr/toastr-bs4-alert';


@media print {
    .breadcrumb {
        display: none !important;
    }
}

body{
    font-size: 0.9rem;
}

h2,h3,h4,h5{
    font-family: fantasy;
    color:#3f51b5; 
}

