<div class="container">
  <br />
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <div class="row">
        <div class="col-md-4">
          <label>Pension ID</label>
        </div>
        <div class="col-md-8">
          <label>{{dataConfig.pd3Pension.id}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-4">
          <label>Year</label>
        </div>
        <div class="col-md-8" *ngIf="dataConfig.pd3Pension.circular=='2015'">
          <label>{{dataConfig.pd3Pension.circular}}</label> <span class="circular"><label>6/2006</label></span>
        </div>
        <div class="col-md-8" *ngIf="dataConfig.pd3Pension.circular!='2015'">
          <label>{{dataConfig.pd3Pension.circular}} </label> <span
            class="circular"><label>3/{{dataConfig.pd3Pension.circular}} </label></span>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-4">
          <label>Grade</label>
        </div>
        <div class="col-md-8">
          <label>{{dataConfig.pd3BasicInformation.grade}}</label>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-4">
          <label>Scale</label>
        </div>
        <div class="col-md-8">
          <label>{{dataConfig.pd3Pension.scale}}</label>
        </div>
      </div><br />
      <div class="row">
        <div class="col-md-4">
          <label>Total Service Period</label>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">Days-{{dataConfig.pd3BasicInformation.servicePeriod.days}}</div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-4">Months-{{dataConfig.pd3BasicInformation.servicePeriod.months}}</div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-4">Years-{{dataConfig.pd3BasicInformation.servicePeriod.years}}</div>

          </div>
        </div>
      </div><br />
      <div class="row">
        <div class="col-md-4">
          <label>Total No-Pay</label>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">Days-{{dataConfig.pd3Pension.totalNoPay.days}}</div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-4">Months-{{dataConfig.pd3Pension.totalNoPay.months}}</div>
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-4">Years-{{dataConfig.pd3Pension.totalNoPay.years}}</div>
          </div>
        </div>
      </div><br />
      <div class="row">
        <div class="col-md-4">
          <label>Pensionable Percentage</label>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              Reduced - {{dataConfig.pd3Pension.netReducedPercentage.toFixed(1)}} %
            </div>
            <div class="col-md-6">
              Unreduced - {{dataConfig.pd3Pension.netUnreducedPercentage.toFixed(1)}} %
            </div>
          </div>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-4">
          <label>Date of increment</label>
        </div>
        <div class="col-md-8">
          <label>{{dataConfig.pd3BasicInformation.nextIncrementDate}}</label>
        </div>
      </div><br />
    </div>


    <div class="col-md-6 col-sm-6 col-lg-6 right">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><b>At the date of retirement</b></div>
        <div class="col-md-4"><b>At 2020</b></div>
      </div><br />
      <div class="row">
        <div class="col-md-4">Consolidated Salary</div>
        <div class="col-md-4">{{dataConfig.pd3Pension.consolidatedSalary.toFixed(2)}}</div>
        <div class="col-md-4">{{(dataConfig.pd3ConsolidatedSalary2020.basicSalary*12).toFixed(2)}}</div>
      </div><br />
      <div class="row">
        <div class="col-md-4">Earned Increment</div>
        <div class="col-md-4">{{dataConfig.pd3ConsolidatedSalary2020.firstAllowance.toFixed(2)}}</div>
        <div class="col-md-4">{{dataConfig.pd3ConsolidatedSalary2020.secondAllowance.toFixed(2)}}</div>
      </div><br />
      <div class="row">
        <div class="col-md-4">Allowances</div>
        <div class="col-md-4">{{dataConfig.pd3Calculations.totalAllowance.toFixed(2)}}</div>
        <div class="col-md-4">{{dataConfig.pd3Calculations.totalAllowance.toFixed(2)}}</div>
      </div><br />

      <div class="row">
        <div class="col-md-4">Total</div>
        <div class="col-md-4">
          {{(dataConfig.pd3Pension.consolidatedSalary+dataConfig.pd3ConsolidatedSalary2020.firstAllowance+dataConfig.pd3Calculations.totalAllowance).toFixed(2)}}
        </div>
        <div class="col-md-4">
          {{(dataConfig.pd3ConsolidatedSalary2020.basicSalary*12+dataConfig.pd3ConsolidatedSalary2020.secondAllowance+dataConfig.pd3Calculations.totalAllowance).toFixed(2)}}
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-4 monthly-pension">
          <b>Monthly Pension </b>
        </div>
        <div class="col-md-8">
          <hr>
        </div>

      </div><br />

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><b>Reduced</b></div>
        <div class="col-md-4"><b>Unreduced</b></div>
      </div><br />
      <div class="row">
        <div class="col-md-4">At the date of retirement</div>
        <div class="col-md-4">{{dataConfig.pd3Calculations.reducedSalary.toFixed(2)}}</div>
        <div class="col-md-4">{{dataConfig.pd3Calculations.unreducedSalary.toFixed(2)}}</div>
      </div><br />
      <div class="row">
        <div class="col-md-4">At 2020</div>
        <div class="col-md-4">{{dataConfig.pd3Calculations.reducedSalary2020.toFixed(2)}}</div>
        <div class="col-md-4">{{dataConfig.pd3Calculations.unreducedSalary2020.toFixed(2)}}</div>
      </div><br />
      <div class="row button-section justify-content-end">
        <button class="col-md-4 col-sm-4 col-lg-4" (click)="extraDetailsPopup()" mat-raised-button color="primary">Extra
          Payment Details</button>
        <button class="col-md-3 col-sm-3 col-lg-3" (click)="serviceDetailsPopup()" mat-raised-button
          color="primary">Service
          Details</button>
        <button class="col-md-4 col-sm-4 col-lg-4" (click)="gratuityDetailsPopup()" mat-raised-button
          color="primary">Gratuity & Bank Details</button>
      </div><br />
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <div class="row justify-content-end">
        <button class="col-md-3" mat-raised-button color="default" *ngIf="buttonConfig.rePrint==true">Re-Print</button>
        <button class="col-md-3" mat-raised-button color="accent" *ngIf="buttonConfig.rejectApplication==true"
          routerLink="/pd3-pensions/{{state}}/rejection/{{refNumber}}/{{pensionNumber}}">Reject</button>
        <button class="col-md-3" mat-raised-button color="primary"
          (click)="stateChangeConfirmationPopup('accept')">Accept</button>
      </div>
    </div>
  </div>
</div>