<div class="container">
  <div class="row justify-content-start">
    <h2>Bank Information</h2>
  </div>

  <br>
  <div [formGroup]="bankInfoForm">


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Bank</label>
      </div>
      <div class="col-md-4">
        <!-- <input type="text" class="form-control form-control-sm" placeholder="Bank" id="Bank"
          formControlName="bank"> -->
        <select placeholder="Bank" formControlName="bank" class="form-control form-control-sm">
          <option *ngFor="let bank of banks" id="bank" [value]="bank">
            {{bank}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Branch</label>
      </div>
      <div class="col-md-4">
        <!-- <input type="text" class="form-control form-control-sm" placeholder="Branch" id="branch"
          formControlName="branch"> -->
        <select placeholder="Branch" formControlName="branch" class="form-control form-control-sm">
          <option *ngFor="let branch of branches" id="branch" [value]="branch">
            {{branch}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Account No</label>
      </div>
      <div class="col-md-4">
        <input type="number" class="form-control form-control-sm" placeholder="Account No" id="accountNo"
          formControlName="accountNo">
      </div>
    </div>



    <br><br>


  </div>
</div>

{{this.bankInfoForm.value | json}}