<form>

  <div class="container content">

    <hr>
    <div class="form-group row">
      <label  class="col-sm-12 col-form-label label1">Your application is successfully submitted in the system</label>
    </div>
    <div class="form-group row">
      <label class="col-md-6 col-form-label" class="ref">Reference Number : {{data.refNumber}}</label>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <button color="primary" class="next-button" (click)="printsource()">VIEW SOURCE DOCUMENT</button>
      </div>
    </div>
</div>
</form>