table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
  }

  h2{
    font-family: fantasy;
    color:#3f51b5;
}

button{
  width: 100%;
  padding-right: 10px
}