<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h2>Daily Gratuity Report</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
      <div class="col-md-3">
        <label>Select Date</label>
        <input type="date" [(ngModel)]="fromDate" class="form-control" />
      </div>
      <div class="col-md-2">
        <label>&nbsp;</label>
        <button class="btn btn-primary form-control" (click)="viewReport()"> View Report</button>
      </div>
      <div class="col-md-2">
        <label>&nbsp;</label>
        <button class="btn btn-primary form-control" (click)="download()"> Download</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-md-10" *ngIf="iframeLoaded" id="mydiv">
        <iframe [ngClass]="iframeclass" id="reportURL" height="700px" width="1400px" (load)="onMyFrameLoad(this)" [src]="iframeURL" scrolling="auto">
        </iframe>
      </div>
    </div>
  </div>
</div>