table,#contentToConvert{
    font-size: 17px;
    color:black;
}

.date{
    margin-right: 10px;
}

.wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
}
.frame {
    width: 1400px;
    height: 500px;
    border: 0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -ms-zoom: 0.75;
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.onframeload{
    background-image: url("../loader.jpg");   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.afterframeload{
    background-image: none;   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}