<div class="container">
  <div class="row justify-content-start">
    <h2>Identification</h2>
  </div>

  <br>
  <div [formGroup]="identificationForm">
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="organization">Organization</label>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Select Organization" formControlName="organization">
            <mat-option *ngFor="let organization of organizations" id="organization" [value]="organization">
              {{organization}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="type">Type</label>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Select Type" formControlName="type">
            <mat-option *ngFor="let type of types" id="type" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Soldier Number</label>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Soldier Number" id="soldierNumber" formControlName="soldierNumber">
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Regiment</label>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Select Regiment" formControlName="regiment">
            <mat-option *ngFor="let regiment of regiments" id="regiment" [value]="regiment">
              {{regiment}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <br><br><br><br><br><br>
    <!-- <div class="row">
      <div class="col-md-1 offset-md-8 example-button-row">
        <button mat-raised-button color="primary" (click)='servicePrevious()'>Previous</button>
      </div>
      <div class="col-md-2 example-button-row">
        <button mat-raised-button color="primary" (click)='identificationProceed()'>Proceed</button>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-1 offset-md-9 example-button-row">
        <!-- <button mat-raised-button color="primary" (click)='personalInfoPrevious()'>Previous</button> -->
      </div>
      <div class="col-md-1 example-button-row">
        <button mat-raised-button color="primary" (click)='identificationProceed()'>Proceed</button>
      </div>
    </div>
    <br>



  </div>
</div>