<br>
<br>
<h5 mat-dialog-title>{{'personal information' | uppercase}}</h5>
<hr>
<br>
<div class="col-md-12" [formGroup]="form">

  <div class="form-group row" style="display: none">
    <label for="fullName" class="col-sm-3 col-form-label">Person Id</label>
    <div class="col-sm-5">
      <input formControlName="id" type="text" class="form-control form-control-sm" placeholder="Person id" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Title</label>
    <div class="col-sm-3">
      <select formControlName="title" class="form-control form-control-sm" placeholder="Title">
        <option value="ven">Ven</option>
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Miss">Miss</option> 
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="fullName" class="col-sm-3 col-form-label">Full Name</label>
    <div class="col-sm-8">
      <input formControlName="fullName" type="text" class="form-control form-control-sm" placeholder="Name in full">
      <div *ngIf="form.get('fullName').errors && (form.get('fullName').dirty || form.get('fullName').touched || isClickNext)">
        <p *ngIf="form.get('fullName').errors.name" class="text-danger">{{validationMessages.pattern('name')}}</p>
        <p *ngIf="form.get('fullName').errors.required" class="text-danger">{{validationMessages.required('Full
          name')}}</p>
        <p *ngIf="form.get('fullName').errors.maxlength" class="text-danger">
          {{validationMessages.maxlength(form.get('name'))}}</p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="nic" class="col-sm-3 col-form-label">NIC Number</label>
    <div class="col-sm-5">
      <input formControlName="nic" type="text" class="form-control form-control-sm"
        placeholder="National Identity card number" [readonly]="isEdit" (blur)="nicExit()" >
      <div *ngIf="form.get('nic').errors && (form.get('nic').dirty || form.get('nic').touched || isClickNext)">
        <p *ngIf="form.get('nic').errors.required" class="text-danger">{{validationMessages.required('NIC Number')}}</p>
        <p *ngIf="!form.get('nic').errors.required && form.get('nic').errors.invalid" class="text-danger">
          {{validationMessages.pattern('NIC')}}</p>
      </div>
      <div *ngIf="!form.get('nic').errors && nicList !=null">
        <p *ngIf="nicList.status == 1" class="text-danger">{{nicList.message}}</p>
        <p *ngIf="nicList.status == 2" class="text-warning">{{nicList.message}} </p>
          <p *ngFor="let nic of nicList.nicList" class="text-warning">{{nic}}</p>
        
        <!-- <p *ngIf="!form.get('nic').errors.required && form.get('nic').errors.invalid" class="text-danger">
          {{validationMessages.pattern('NIC')}}</p> -->
      </div>

    </div>
  </div>
  <div class="form-group row">
    <label for="dob" class="col-sm-3 col-form-label">Date Of Birth</label>
    <div class="col-sm-3">
      <input formControlName="dob" type="date" class="form-control form-control-sm" placeholder="DOB">
      <div *ngIf="form.get('dob').errors && (form.get('dob').dirty || form.get('dob').touched || isClickNext)">
        <p *ngIf="form.get('dob').errors.required" class="text-danger">{{validationMessages.required('Date of birth')}}
        </p>
      </div>
    </div>
  </div> 
  <div class="form-group row">
    <label for="gender" class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-3">
      <div class="form-check form-check-inline">
        <input formControlName="gender" value="1" class="form-check-input" type="radio" id="inlineRadio1"  [checked]="form.get('gender').value === 1" >
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input formControlName="gender" value="0" class="form-check-input" type="radio" id="inlineRadio2" [checked]="form.get('gender').value === 0">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
    </div>
  </div>
  <div formGroupName="address">
    <div class="form-group row">
      <label for="addressLine1" class="col-sm-3 col-form-label">Address</label>
      <div class="col-sm-5">
        <input formControlName="addressLine1" type="text" class="form-control form-control-sm"
          placeholder="Address Line 1">
        <div
          *ngIf="form.get('address').get('addressLine1').errors && (form.get('address').get('addressLine1').dirty || form.get('address').get('addressLine1').touched || isClickNext)">
          <p *ngIf="form.get('address').get('addressLine1').errors.required" class="text-danger">{{validationMessages.required('address
                  Line 1')}}</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="addressLine2" class="col-sm-3 col-form-label" uppercase></label>
      <div class="col-sm-5">
        <input formControlName="addressLine2" type="text" class="form-control form-control-sm"
          placeholder="Address Line 2">
      </div>
    </div>
    <div class="form-group row">
      <label for="addressLine3" class="col-sm-3 col-form-label"></label>
      <div class="col-sm-5">
        <input formControlName="addressLine3" type="text" class="form-control form-control-sm"
          placeholder="Address Line 3">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="mobile" class="col-sm-3 col-form-label">Mobile</label>
    <div class="col-sm-4">
      <input formControlName="mobile" type="text" class="form-control form-control-sm" placeholder="Mobile Number">
      <div *ngIf="form.get('mobile').errors && (form.get('mobile').dirty || form.get('mobile').touched || isClickNext)">
        <p *ngIf="form.get('mobile').errors.required" class="text-danger">{{validationMessages.required('Mobile
          Number')}}</p>
        <p *ngIf="!form.get('mobile').errors.required && form.get('mobile').errors.phone" class="text-danger">
          {{validationMessages.pattern('Mobile')}}</p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="landNumber" class="col-sm-3 col-form-label">Land Phone Numbers</label>
    <div class="col-sm-4">
      <input formControlName="landNumber" type="text" class="form-control form-control-sm" placeholder="Land Numbers">
      <div
        *ngIf="form.get('landNumber').errors && (form.get('landNumber').dirty || form.get('landNumber').touched || isClickNext)">
        <p *ngIf="form.get('landNumber').errors.phone" class="text-danger">{{validationMessages.pattern('Land Line
          Number')}}</p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-6">
      <input formControlName="email" type="text" class="form-control form-control-sm" placeholder="Email">
      <div *ngIf="form.get('email').errors && (form.get('email').dirty || form.get('email').touched || isClickNext)">
        <p *ngIf="form.get('email').errors.email" class="text-danger">{{validationMessages.pattern('Email')}}</p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="passport" class="col-sm-3 col-form-label">Passport</label>
    <div class="col-sm-4">
      <input formControlName="passport" type="text" class="form-control form-control-sm" placeholder="Passport Number">
    </div>
  </div>

  <div class="form-group row">
    <label for="fullName" class="col-sm-3 col-form-label">Image</label>
    <div class="col-sm-6">
      <img [src]="url" image-resizing class="image"
        style="border-width: 1px;border-style: outset;width: 200px;height: 200px;"><br /><br>
      <input style="display: none" type='file' accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event)"
        #fileInput>
      <button class="btn btn-primary btn-sm" (click)="fileInput.click()">Select Image</button>
      <input formControlName="image" type="text" class="form-control form-control-sm" placeholder="Passport Number"
        style="display: none">
      <!-- <button (click)="addAllowance()" fxFlex="17" class="btn btn-primary">ADD ALLOWANCE</button> -->
    </div>
  </div>
  <div class="form-group row">
    <label for="district" class="col-sm-3 col-form-label">District</label>
    <div class="col-sm-5">
      <select formControlName="district" class="form-control form-control form-control-sm" placeholder="District">
        <option *ngFor="let district of districts" [value]=district.id>{{ district.name }}</option>
      </select>
      <div
        *ngIf="form.get('district').errors && (form.get('district').dirty || form.get('district').touched || isClickNext)">
        <p *ngIf="form.get('district').errors.required" class="text-danger">{{validationMessages.required('District')}}
        </p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="ds" class="col-sm-3 col-form-label">Divisional Secretariat</label>
    <div class="col-sm-5">
      <select formControlName="ds" class="form-control form-control form-control-sm" id="Divisional Secretariat">
        <option *ngFor="let ds of dss" [value]=ds.id>{{ ds.name }}</option>
      </select>
      <div *ngIf="form.get('ds').errors && (form.get('ds').dirty || form.get('ds').touched || isClickNext)">
        <p *ngIf="form.get('ds').errors.required" class="text-danger">{{validationMessages.required('Divisional
          Secretariat')}}</p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="gn" class="col-sm-3 col-form-label">Grama Niladhari Division</label>
    <div class="col-sm-5">
      <select formControlName="gn" class="form-control form-control form-control-sm"
        placeholder="Grama Niladhari Division">
        <option *ngFor="let gn of gns" [value]=gn.id>{{ gn.name }}</option>
      </select>
      <div *ngIf="form.get('gn').errors && (form.get('gn').dirty || form.get('gn').touched || isClickNext)">
        <p *ngIf="form.get('gn').errors.required" class="text-danger">{{validationMessages.required('Grama Niladhari
          Division')}}</p>
      </div>
    </div>
  </div>
</div>