<div>
    <button mat-raised-button color="primary" (click)="captureScreen()"><i class="fas fa-download"></i> Download</button>
</div>
<div class="container" id="contentToConvert">
  <div>
    <div class="row justify-content-center">
      <h2>Postal Report</h2>
    </div>
    <div class="row date justify-content-end" >
      Date : {{date}}
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Ref Number</th>
          <th scope="col">Name</th>
          <th scope="col">NIC</th>
          <th scope="col">Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of dataConfig.pd3PostalList;let i=index">
          <th>{{i+1}}</th>
          <td>{{list.refNumber}}</td>
          <td>{{list.name}}</td>
          <td>{{list.nic}}</td>
          <td>{{list.pensionPoint}}</td>
        </tr>
      </tbody>
    </table><br/>
    <div class="row">
      ...............................<br/>
              (Autherized Officer)
    </div>
  </div>
</div>