<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row justify-content-center">
    <label>
      <h3>Image Viewer</h3>
    </label>
  </div><br />
  <div class="row justify-content-center">
    <img class="img-profile img-responsive" src="{{pensionerImage}}" style="height: 200px; width: 150px">
  </div>
</div>