<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row">
    <label>
      <h3>Application Confirm</h3>
    </label>
  </div><br />

  <div class="row justify-content-start">
    <div class="col-md-4">
      <label>Date of interview</label>
    </div>

    <div class="col-md-7">
      <input type="date" class="form-control col-md-12" style="width:100%" [(ngModel)]="newInterview.interviewDate" />
    </div>
  </div><br />

  <div class="row justify-content-start">
    <div class="col-md-4">
      <label>Remarks</label>
    </div>

    <div class="col-md-5">
      <textarea name="" id="" cols="35" rows="3"></textarea>
    </div>
  </div><br />

  <div class="row justify-content-start">
    <div class="col-md-4">
      <label>Number of pensioners</label>
    </div>

    <div class="col-md-5">
      <label>{{data.count}}</label>
    </div>
  </div><br />

  <div class="row justify-content-start">
    <div class="col-md-4">
      <label>Last interview date</label>
    </div>

    <div class="col-md-5">
      <label></label>
    </div>
  </div><br />
  <div class="row justify-content-start">
    <div class="col-md-4">
      <label>
        <mat-checkbox [(ngModel)]="time"></mat-checkbox> &nbsp; Time selection
      </label>
    </div>

    <div class="col-md-5" *ngIf="time==true">
      <mat-form-field>
        <mat-select placeholder="Select time" class="col-md-12" [(ngModel)]="selectedTime">
          <mat-option *ngFor="let times of interviewTimes" [value]="times">
            {{times}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div><br />

  <div class="row justify-content-end">
    <button class="col-md-4 view-details" mat-raised-button color="primary">HNB Report & ID Photos</button>
    <button class="col-md-4 print" mat-raised-button color="primary" (click)="confirm()">Confirm & call for
      interview</button>
  </div>
</div>