<div class="container">

  <div class="row justify-content-center">
    <label>
      <h5>වැන්දඹු/ වැන්දඹු පුරුෂ හා අනත්දරු විශ්‍රාම වැටුප් ලියාපදිංචිය</h5>
    </label>
  </div>
  <div class="row justify-content-center">
    <label>
      <h5> Widows’/ Widowers and Orphans Pension Online Registration</h5>
    </label>
  </div>
  <div class="row justify-content-center">
    <label>
      <h5>விதவைகள்/ தபுதாரர் மற்றும் அனாதைகள் ஓய்வூதிய பதிவு</h5>
    </label>
  </div><br>

  <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

    <mat-step [stepControl]="personalInfoForm" *ngIf="isNewRegister == 'true'">
      <ng-template matStepLabel>DOCUMENT UPLOAD</ng-template>
      <app-personal-file-input></app-personal-file-input>
      <div>
        <div fxFlex></div>
        <div class="row justify-content-end">
          <button class="btn btn-primary btn-xs" (click)="documentUploadStepperNext(stepper)">Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalInfoForm">
      <ng-template matStepLabel>PERSONAL INFORMATION</ng-template>
      <app-personal-information></app-personal-information>
      <div>
        <div fxFlex></div>
        <div class="row justify-content-end">
          <!-- <button class="btn btn-primary" matStepperNext>Next</button> -->
          <button class="btn btn-primary btn-xs" (click)="personalInfoStepperNext(stepper)">Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalInfoForm">
      <ng-template matStepLabel>SERVICE INFORMATION</ng-template>
      <app-service-information></app-service-information>
      <div>
        <div fxFlex></div>
        <div class="row justify-content-end">
          <!-- <button class="btn btn-primary" matStepperNext>Next</button> -->
          <button class="btn btn-primary btn-sm" (click)="ServiceInfoStepperNext(stepper)">Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalInfoForm">
      <ng-template matStepLabel>DEPENDANT INFORMATION</ng-template>
      <app-dependant-information></app-dependant-information>
      <div>
        <div fxFlex></div>
        <div class="row justify-content-end">
          <!-- <button class="btn btn-primary" matStepperNext>Next</button> -->
          <button class="btn btn-primary btn-sm" (click)="DependantInfoStepperNext(stepper)">Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="personalInfoForm">
      <ng-template matStepLabel>SUBMIT</ng-template>
      <app-profile-details></app-profile-details>
      <div>
        <div fxFlex></div>
        <div class="row justify-content-end">
          <!-- <button class="btn btn-primary" matStepperNext>Next</button> -->
          <button class="btn btn-primary btn-xs" (click)="submit()">Submit</button>
        </div>
      </div>
    </mat-step>


  </mat-horizontal-stepper>





  <!-- <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="padding-right: 30px;">person</mat-icon>
        
      </ng-template>
      <app-personal-information></app-personal-information>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="padding-right: 30px;">work</mat-icon>
        SERVICE INFORMATION
      </ng-template>
      <app-service-information></app-service-information>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="padding-right: 30px;">supervisor_account</mat-icon>
        DEPENDANT INFORMATION
      </ng-template> 
      <app-spouse-iformation></app-spouse-iformation>
      <app-dependant-information></app-dependant-information> 
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="padding-right: 30px;">account_balance</mat-icon>
        PAYMENT INFORMATION
      </ng-template>
      <app-payment-iformation></app-payment-iformation>
    </mat-tab>

  </mat-tab-group> -->


</div>