<hr>
<div class="container">
  <br><br><br><br><br>

  <div>
    <div class="row justify-content-center">
      <div class="row page-header justify-content-center">
        <h3>Successfully Submitted the form!</h3>
      </div>
    </div>
    <br><br>

    <div class="row justify-content-center">
      <div class="row page-header justify-content-center">
        <h6>Application Reference Number : {{refNo}}</h6>
      </div>
    </div>

    <br>
    <div class="row justify-content-center">
      <div class="example-button-row">
        <button type="button" class="btn btn-success btn-sm" (click)='printDoc()'>Click here to Print Preview</button>
      </div>
    </div>
  </div>

</div>