<div class="content">
  <div class="row justify-content-center">
    <div class='search_all'>
      <div class='search_text'>
        <h5 class="heading">- Pension Revision : Payment Applications-</h5>
      </div>
    </div>
  </div> <br />
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class='search_box'>
        <form method='get'>
          <input class="searchinput" id="nic" [(ngModel)]="nic" (keyup)="searchnic()" name='q' type='text'
            placeholder="Enter NIC number here.." maxlength="12">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row table-content justify-content-center">
  <div class="col-md-10">
    <table id="myTable" class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="tbl-header">Revision number</th>
          <th scope="col" class="tbl-header">NIC</th>
          <th scope="col" class="tbl-header">Name</th>
          <th scope="col" class="tbl-header">Reason (>48%)</th>
          <th scope="col" class="tbl-header">View details</th>
          <th scope="col" class="tbl-header">View Award</th>
          <th scope="col" *ngIf="userRoleAcc" class="tbl-header" style="color: red;text-align: center;">Re-revision</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of paymentdetails">
          <td>{{payment.revision_id}}</td>
          <td>{{payment.nic}}</td>
          <td>{{payment.name}}</td>
          <td>{{payment.reason}}</td>
          <td>
            <button mat-raised-button (click)="details(payment.revision_id,payment.status)"
              class="more-button">Details</button>
          </td>
          <td>
            <button mat-raised-button (click)="view_award(payment.revision_id)" class="more-button">View Award</button>
          </td>
          <td *ngIf="userRoleAcc" style="color:red;text-align: center;">
            <button style="color:red;text-align: center;" mat-raised-button (click)="reRevision(payment.revision_id)"
              class="more-button">Re-revision</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>