<div class="container">
  <div class="row justify-content-start">
    <h2>Service Information</h2>
  </div>

  <br>
  <div [formGroup]="serviceInfoForm">

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Regement No</label>
      </div>
      <div class="col-md-4">
        <input placeholder="Regement No" id="regementNo" formControlName="regementNo"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Rank</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Rank" formControlName="rank" class="form-control form-control-sm">
          <option *ngFor="let rank of ranks" id="rank" [value]="rank">
            {{rank}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Pensionable Rank</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Rank" formControlName="rank" class="form-control form-control-sm">
          <option *ngFor="let rank of ranks" id="pensionableRank" [value]="pensionableRank">
            {{rank}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Regiment</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Rank" formControlName="regement" class="form-control form-control-sm">
          <option *ngFor="let regement of regements" id="regement" [value]="regement">
            {{regement}}
          </option>
        </select>
      </div>
    </div>

    
    <br>
    <div class="row" formGroupName="officialAddress">
      <div class="col-md-2 offset-md-2">
        <label for="permenantAddress">Official Address</label>
      </div>
      <div class="col-md-4">
        <input placeholder="Address Line 1" id="addressLine1" formControlName="addressLine1"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row" formGroupName="officialAddress">
      <div class="col-md-2 offset-md-2">
        <label></label>
      </div>
      <div class="col-md-4">
        <input placeholder="Address Line 2" id="addressLine2" formControlName="addressLine2"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row" formGroupName="officialAddress">
      <div class="col-md-2 offset-md-2">
        <label></label>
      </div>
      <div class="col-md-4">
        <input placeholder="Address Line 3" id="addressLine3" formControlName="addressLine3"
          class="form-control form-control-sm">
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Soldier No</label>
      </div>
      <div class="col-md-4">
        <input placeholder="Soldier No" id="soldierNo" formControlName="soldierNo"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Service Pension No</label>
      </div>
      <div class="col-md-4">
        <input placeholder="Service Pension Number" id="servicePenNo" formControlName="servicePenNo"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Disable Pension No</label>
      </div>
      <div class="col-md-4">
        <input placeholder="Disable Pension Number" id="disabledPenNo" formControlName="disabledPenNo"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Unit</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Unit" formControlName="unit" class="form-control form-control-sm">
          <option *ngFor="let unit of units" id="unit" [value]="unit">
            {{unit}}
          </option>
        </select>
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Appointment Date</label>
      </div>
      <div class="col-md-3">
        <input type="date" placeholder="Choose a date" id="appointmentDate" formControlName="appointmentDate"
          class="form-control form-control-sm">
      </div>
    </div>

    
    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="pensionOrDeathDate">Date of Pension or Death</label>
      </div>
      <div class="col-md-3">
        <input type="date" placeholder="Choose a date" id="pensionOrDeathDate" formControlName="pensionOrDeathDate"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="pensionOrMedicalDate">Date of Pension or Medical Board Out</label>
      </div>
      <div class="col-md-3">
        <input type="date" placeholder="Choose a date" id="pensionOrMedicalDate" formControlName="pensionOrMedicalDate"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="wopNo">W&OP No</label>
      </div>
      <div class="col-md-4">
        <input placeholder="W&OP No" id="wopNo" formControlName="wopNo"
          class="form-control form-control-sm">
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="salaryCode">Salary Code</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Salary Code" formControlName="salaryCode" class="form-control form-control-sm">
          <option *ngFor="let salaryCode of salaryCodes" id="salaryCode" [value]="salaryCode.id">
            {{salaryCode.name}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="salaryCircular">Salary Circular</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Salary Circular" formControlName="salaryCircular" class="form-control form-control-sm">
          <option *ngFor="let salaryCircular of salaryCirculars" id="salaryCircular" [value]="salaryCircular">
            {{salaryCircular}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="service">Service</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Service" formControlName="service" class="form-control form-control-sm">
          <option *ngFor="let service of services" id="service" [value]="service.id">
            {{service.name}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="designation">Designation</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Designation" formControlName="designation" class="form-control form-control-sm">
          <option *ngFor="let designation of designations" id="designation" [value]="designation.id">
            {{designation.name}}
          </option>
        </select>
      </div>
    </div>


    <br><br>

  </div>
</div>

{{this.serviceInfoForm.value | json}}