table{
    width: 100%;
    height: 100%;
}

.td-class{
    padding-bottom: 5px;
    width: 40%
}
.td-class1{
    padding-bottom: 5px;
    width: 60%
}

h5{
    font-size: 18px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    width: 100%;
}

.heading{
    background-color:#333333;
    color:white; 
    font-size:23px;
    height:30px;
    font-family: 'Times New Roman', Times, serif;
}

.main-heading{
    font-size: 25px;
    margin-left: 71px;
}

.table-css{
    padding-left: 35px;padding-top: 11px;border: 1px solid black;
}

.deptlogo{
    width: 300px;
    // display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
    display: flex; 
    justify-content: center;
}

.logo{
    width: 50px;
    // display: block;
    // display: flex;
    // justify-content: left;
    float: right;
}

.logolanka{
    width: 50px;
    // display: block;
    // display: flex;
    // justify-content: left;
    float: right;
}

.personal{
    margin-left: -72px;
}

.reject-button{
    margin-top: 15px;
    width: 100px;
    background-color: rgb(212, 81, 81);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}


.print-button{
    margin-top: 15px;
    width: 100px;
    background-color: rgb(65, 125, 214);
    color: white;
    border-radius: 5px;
}

.approved-button{
    margin-top: 15px;
    width: 100px;
    background-color: rgb(73, 129, 73);
    color: white;
    margin-left: 10px;
    border-radius: 5px;
}

@media print{
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .table{
        width: 100%;
    }
    
    .td-class{
        padding-bottom: 5px;
        width: 40%
    }
    .td-class1{
        padding-bottom: 5px;
        width: 60%
    }
    
    h5{
        font-size: 18px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }
    
    hr{
        width: 100%;
    }
    
    .heading{
        background-color:#333333 !important;
        color:white !important;
        font-size:23px;
        height:30px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .main-heading{
        font-size: 25px;
    }

    .personal{
        margin-left: -72px !important;
    }

}

@media print and (color) {
    * {
       -webkit-print-color-adjust: exact;
       print-color-adjust: exact;
    }
 }