<h2 class="text-muted">Dashboard - Militory Pension Revision</h2>

<hr>
<div class="row">
  <div class="col-md-4 col-xs-3" 
  *ngFor="let dashboardConfig of dashboardConfig.dashboardConfig">
    <app-pd6-dashboard-tile 
    [name]="dashboardConfig.name" 
    [path]="dashboardConfig.path" 
    [color]="dashboardConfig.color">
    </app-pd6-dashboard-tile>
  </div>
</div>
