<div class="container">
  <div class="row justify-content-start">
    <h3>Dependent Details</h3>
  </div>

  <!-- <br> -->
  <div [formGroup]="moreDependentInfoForm">

    <div class="row offset-md-1 col-md-10">
      <table>
        <tbody>
          <tr class="tr1">
            <td class="td1">Name</td>
            <td>Saman</td>
          </tr>
          <tr>
            <td>Relationship</td>
            <td>Son</td>
          </tr>
          <tr class="tr1">
            <td>NIC</td>
            <td>882892805V</td>
          </tr>
          <tr>
            <td>Date of Birth</td>
            <td>1988-12-12</td>
          </tr>
          <tr class="tr1">
            <td>Award Number</td>
            <td>27</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>Kalutara</td>
          </tr>
          <tr class="tr1">
            <td>Status</td>
            <td>Disabled</td>
          </tr>
          <tr>
            <td>Maritial Status</td>
            <td>Single</td>
          </tr>
          <tr class="tr1">
            <td>Bank</td>
            <td>BOC</td>
          </tr>
          <tr>
            <td>Branch</td>
            <td>Kalutara</td>
          </tr>
          <tr class="tr1">
            <td>Account Number</td>
            <td>25823654</td>
          </tr>
        </tbody>
      </table>
    </div>


    <br>
    <div class="row justify-content-end col-md-11">
      <button mat-raised-button color="warn" (click)='close()'>Close</button>
    </div>
  </div>
</div>