<div class="container">
  <div class="row">
    <label>
      <h2>PD3 Detailed View</h2>
    </label>
  </div><br />

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab class="col-md-4" label="BASIC INFORMATION">
      <app-pd3-personal-information></app-pd3-personal-information>
    </mat-tab>
    <mat-tab class="col-md-4" label="DEPENDENT INFORMATION">
      <app-pd3-dependent-information></app-pd3-dependent-information>
    </mat-tab>
    <mat-tab class="col-md-4" label="PENSION INFORMATION ">
      <app-pd3-pension-information></app-pd3-pension-information>
    </mat-tab>
  </mat-tab-group>
</div>