h2{
    font-family: fantasy;
    color:#3f51b5;
}

.example-stretched-tabs {
    max-width: 100%;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

// .mat-form-field-infix{
//   border-top-width: 0px!important;
// }

// .leftColumn{
//     // border-top-width: 10px!important;
//     vertical-align: text-bottom!important;
//   }

// .col-md-2{
  
// }