<div class="container">
  <div class="row justify-content-start">
    <h2>Personal Information</h2>
  </div>

  <br>
  <div [formGroup]="personalInfoForm">


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Name in Full</label>
      </div>
      <div class="form-group col-md-2">
        <!-- <input type="text" placeholder="Mr./Mrs./Miss." class="form-control form-control-sm" id="salutation"
          formControlName="fullName"> -->
        <select placeholder="Salutation" formControlName="salutation" class="form-control form-control-sm">
          <option *ngFor="let salutation of salutations" id="salutation" [value]="salutation">
            {{salutation}}
          </option>
        </select>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control form-control-sm" placeholder="Eg: Jothipathirathnage Iresha Udeyangani" id="fullName"
          formControlName="fullName">
      </div>
    </div>

    <!-- <br> -->
    <!-- <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Prefered Name</label>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" placeholder="Eg: J.I.Udeyangani" id="preferedName"
          formControlName="preferedName">
      </div>
    </div> -->

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="dob">Date of Birth</label>
      </div>
      <div class="col-md-2 ">
        <!-- <input type="text" class="form-control form-control-sm" placeholder="Choose a date" id="dob" formControlName="dob"> -->
        <input type="date" placeholder="Choose a date" id="dob" formControlName="dob"
          class="form-control form-control-sm">
      </div>
      <div class="col-md-2 offset-md-1">
        <label for="dob">Date of Age 55</label>
      </div>
      <div class="col-md-2">
        <!-- <input type="text" class="form-control form-control-sm" placeholder="Choose a date" id="doAgeFiftyFive"
          formControlName="doAgeFiftyFive"> -->
        <input type="date" placeholder="Choose a date" id="doAgeFiftyFive" formControlName="doAgeFiftyFive"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">NIC</label>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" placeholder="Eg: xxxxxxxxxV / xxxxxxxxxxxx" id="nic"
          formControlName="nic">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Gender</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Gender" formControlName="gender" class="form-control form-control-sm">
          <option *ngFor="let gender of genders" id="gender" [value]="gender">
            {{gender}}
          </option>
        </select>
        <!-- <input type="text" class="form-control form-control-sm" placeholder="Male / Female" id="gender"
          formControlName="gender"> -->
      </div>
    </div>


    <br>
    <div class="row" formGroupName="permenantAddress">
      <div class="col-md-2 offset-md-2">
        <label for="permenantAddress">Permenant Address</label>
      </div>
      <div class="col-md-4">
        <input placeholder="Address Line 1" id="addressLine1" formControlName="addressLine1"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row" formGroupName="permenantAddress">
      <div class="col-md-2 offset-md-2">
        <label></label>
      </div>
      <div class="col-md-4">
        <input placeholder="Address Line 2" id="addressLine2" formControlName="addressLine2"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row" formGroupName="permenantAddress">
      <div class="col-md-2 offset-md-2">
        <label></label>
      </div>
      <div class="col-md-4">
        <input placeholder="Address Line 3" id="addressLine3" formControlName="addressLine3"
          class="form-control form-control-sm">
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">Telephone</label>
      </div>
      <div class="col-md-2">
        <input placeholder="Residence" id="telephone" formControlName="telephone" class="form-control form-control-sm">
      </div>
      <div class="col-md-2">
        <input placeholder="Mobile" id="mobile" formControlName="mobile" class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="soldierNumber">E-mail</label>
      </div>
      <div class="col-md-4">
        <input placeholder="Eg: silva@gmail.com" id="email" formControlName="email"
          class="form-control form-control-sm">
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Status</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Status" formControlName="status" class="form-control form-control-sm">
          <option *ngFor="let status of statuses" id="status" [value]="status">
            {{status}}
          </option>
        </select>
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Maritial Status</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select Maritial Status" formControlName="maritialStatus" class="form-control form-control-sm">
          <option *ngFor="let maritialStatus of maritialStatuses" id="maritialStatus" [value]="maritialStatus">
            {{maritialStatus}}
          </option>
        </select>
        <!-- <input placeholder="Married/Unmarried" id="email" formControlName="maritialStatus"
          class="form-control form-control-sm"> -->
      </div>
    </div>



    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">District</label>
      </div>
      <div class="col-md-4">
        <select placeholder="Select District" formControlName="district" class="form-control form-control-sm">
          <option *ngFor="let district of districts" id="district" [value]="district.id">
            {{district.name}}
          </option>
        </select>
        <!-- <input type="text" class="form-control form-control-sm" placeholder="Divisional Secretariet" id="district"
          formControlName="district"> -->
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Divisional Secretariet</label>
      </div>
      <div class="col-md-4">
        <!-- <input type="text" class="form-control form-control-sm" placeholder="Divisional Secretariet" id="ds"
          formControlName="ds"> -->
        <select placeholder="Select Divisional Secretariet" formControlName="ds" class="form-control form-control-sm">
          <option *ngFor="let ds of dss" id="ds" [value]="ds.id">
            {{ds.name}}
          </option>
        </select>
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Grama Niladari Division</label>
      </div>
      <div class="col-md-4">
        <!-- <input type="text" class="form-control form-control-sm" placeholder="GN Division" id="gnDivision"
          formControlName="gnDivision"> -->
        <select placeholder="Select Divisional Secretariet" formControlName="gnDivision" class="form-control form-control-sm">
          <option *ngFor="let gnDivision of gnDivisions" id="gnDivision" [value]="gnDivision.id">
            {{gnDivision.name}}
          </option>
        </select>
      </div>
    </div>


    <br><br>


  </div>
</div>

{{this.personalInfoForm.value | json}}