<div class="container">
  <div class="row justify-content-start">
    <h2>Pension Information</h2>
  </div>

  <br>
  <div [formGroup]="form">

    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="retirementReason">Reason for Retirement</label>
      </div>
      <div class="col-md-6">
        <select placeholder="Select Rank" formControlName="retireReason" class="form-control form-control-sm">
          <option *ngFor="let retireReason of retireReasons" id="retireReason" [value]="retireReason.reason">
            {{retireReason.reason}}
          </option>
        </select>
      </div>
    </div>

    <br>
    <div class="row" formGroupName="countableServicePeriod">
      <div class="col-md-2 offset-md-2">
        <label for="countableServicePeriod">Service Period (Countable)</label>
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control form-control-sm" placeholder="Years" id="serviceYear"
          formControlName="years" (change)="calculateGratuity()">
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control form-control-sm" placeholder="Months" id="serviceMonth"
          formControlName="months" (change)="calculateGratuity()">
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control form-control-sm" placeholder="Days" id="serviceDay"
          formControlName="days" (change)="calculateGratuity()">
      </div>
    </div>

    <br>
    <div class="row" formGroupName="uncountableServicePeriod">
      <div class="col-md-2 offset-md-2">
        <label for="uncountableServicePeriod">Service Period (Uncountable)</label>
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control form-control-sm" placeholder="Years" id="serviceYear"
          formControlName="years" (change)="calculateGratuity()">
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control form-control-sm" placeholder="Months" id="serviceMonth"
          formControlName="months" (change)="calculateGratuity()">
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control form-control-sm" placeholder="Days" id="serviceDay"
          formControlName="days" (change)="calculateGratuity()">
      </div>
    </div>


    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="basicSalary">Basic Salary (For Retirement Date)</label>
      </div>
      <div class="col-md-4">
        <input type="number" class="form-control form-control-sm" placeholder="Basic Salary" id="basicSalary"
          formControlName="basicSalary">
      </div>
    </div>
    <br><br>

    <!-- Allowances -->

    <div class="row">
      <div class="col-md-2 offset-md-2">
        <h6><label for="allowance">Allowances</label></h6>
      </div>
    </div>

    <div formArrayName="allowances">
      <div class="row" *ngFor="let item of getAllowance.controls; let allowanceIndex=index"
        [formGroupName]="allowanceIndex">
        <div class="col-md-4 offset-md-2">
          <!-- <input placeholder="Description" type="text" class="form-control form-control-sm"
            formControlName="description" (change)="calculateGratuity()" /> -->
          <select placeholder="Allowance Discription" formControlName="description"
            class="form-control form-control-sm">
            <option *ngFor="let description of allowanceDiscriptions" id="description" [value]="description">
              {{description}}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <input placeholder="Amount" type="number" class="form-control form-control-sm" formControlName="amount"
            (change)="calculateGratuity()" />
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger btn-sm" (click)="removeAllowance(allowanceIndex)">X</button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-2">
        <button type="button" class="btn btn-info btn-sm" (click)="addAllowance()">Add Allowance</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-7 offset-md-2">
        <table>
          <thead>
            <th>Total Allowance</th>
            <th>{{form.get('totalAllowance').value}}</th>
          </thead>
        </table>
      </div>
    </div>

    <!-- Allowance over -->

    <!-- Deductions -->

    <br><br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <h6><label for="deduction">Deductions</label></h6>
      </div>
    </div>

    <div formArrayName="deductions">
      <div class="row" *ngFor="let item of getDeduction.controls; let deductionIndex=index"
        [formGroupName]="deductionIndex">
        <div class="col-md-4 offset-md-2">
          <!-- <input placeholder="Description" type="text" class="form-control form-control-sm"
            formControlName="description" (change)="calculateGratuity()" /> -->
          <select placeholder="Description Discription" formControlName="description"
            class="form-control form-control-sm">
            <option *ngFor="let description of allowanceDiscriptions" id="description" [value]="description">
              {{description}}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <input placeholder="Amount" type="number" class="form-control form-control-sm" formControlName="amount"
            (change)="calculateGratuity()" />
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger btn-sm" (click)="removeDeduction(deductionIndex)">X</button>
        </div>
        <br><br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-2">
        <button type="button" class="btn btn-info btn-sm" (click)="addDeduction()">Add Deduction</button>
      </div>
    </div>
    <br>

    <!-- total deduction -->
    <div class="row">
      <div class="col-md-7 offset-md-2">
        <table>
          <thead>
            <th>Total Deduction</th>
            <th>{{form.get('totalDeduction').value}}</th>
          </thead>
        </table>
      </div>
    </div>

    <!-- Deductions over -->

    <br><br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <label for="regiment">Net Gratuity</label>
      </div>
      <div class="col-md-4">
        <input type="number" class="form-control form-control-sm" placeholder="Net Gratuity" id="netGratuity"
          formControlName="netGratuity" disabled>
      </div>
    </div>


    <br><br>


  </div>
</div>

{{this.form.value | json}}