<div class="row page-header justify-content-center">
  <h3>Service Gratuity Information (සේවා පාරිතෝෂික තොරතුරු)</h3>
</div>
<hr>
<div class="container">

  <div class="row justify-content-start offset-md-1">
    <!-- <h2>Search Person</h2> -->
  </div>

  <br><br>
  <div [formGroup]="searchPersonForm">

    <div class="row justify-content-center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <br>
          <div class="row justify-content-center">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Enter NIC Number" id="nic" formControlName="nic" (keyup.enter)='searchPerson()'>
            </mat-form-field>
          </div>
          <br><br>
          <div class="row justify-content-center">
            <div class="example-button-row">
              <button mat-raised-button color="primary" (click)='searchPerson()'>Search</button>
            </div>
          </div>
          <br>
          <div class="row justify-content-center" *ngIf="nicValidation == false">
            <p style="color:red;">Not found any details for entered NIC</p>
            <button type="button" class="btn btn-success btn-sm" (click)='newPersonDetails()'>Enter New Person Details</button>
          </div>
        </div>
      </div>
    </div>

    <br><br>


  </div>
</div>