h2{
    font-family: fantasy;
    color:#3f51b5;
}

.example-stretched-tabs {
    max-width: 100%;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.card{
  background-color: #D8E1E1;
}

.page-header{
  // background-color: rgb(0, 250, 250);
  color: #3f51b5;
}