<div class="container">
    <br />
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
            <label>Title</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.title }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Name in full</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.fullName }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>NIC Number</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.nic }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Date of Birth</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.dob }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Gender</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.gender | GenderT}}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Address</label>
          </div>
          <div class="col-md-6"> 
              <label *ngIf="model">{{ model.address.addressLine1 }}</label><br>  
              <label *ngIf="model">{{ model.address.addressLine2 }}</label><br> 
              <label *ngIf="model">{{ model.address.addressLine3 }}</label><br> 
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Mobile Number</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.mobile }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Land line Number</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.landNumber }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Email</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.email }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Passport</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.passport }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>District</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.district |districtT | async }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Divisional Secretariat</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.ds |dsT | async }}</label>
          </div>
        </div><br />

        <div class="row">
          <div class="col-md-4">
            <label>Village Office</label>
          </div>
          <div class="col-md-6">
            <label *ngIf="model">{{ model.gn |gnT | async }}</label>
          </div>
        </div><br />       
      </div>
      <div class="col-md-2">
        <img *ngIf="model" class="img-profile img-responsive" src="{{model.image}}" style="height: 200px; width: 150px">
        <img *ngIf="!model" class="img-profile img-responsive" src="assets/images/person.jpg" style="height: 200px; width: 150px">
      </div>
    </div>
  </div>